<!DOCTYPE html>
<html lang="{{ lang }}">





<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<title>{{ titre }}</title>
	{% block css %}
	{% endblock css %}
</head>





<body>
	<div class="page">
		<!-- Header -->
		<header role="banner">
			<!-- Bannière textuel en haut de la page -->
			<div class="banniere" id="top">
				{% if lang == 'fr' %}
				<q>Smoosh, née de l'amour pour les fruits et le bien-être.</q>
				{% elseif lang == 'en' %}
				<q>Smoosh, born out of love for fruits and well-being.</q>
				{% endif %}
			</div>

			<!-- Bannière visuel -->
			<img src="images/banniere_smoosh.jpg" alt="Bannière avec le Logo Smoosh">

			<!-- Barre de navigation -->
			<nav role="navigation">
				<ul>
					{% if lang == 'fr' %}
					<li><a href="index.php"><i class="bi bi-house-door-fill"></i></a></li>
					<li><a href="bouteilles.php">Bouteilles</a></li>
					<li><a href="canettes.php">Canettes</a></li>
					<li><a href="recettes.php">Recettes</a></li>
					<li><a href="apropos.php">À Propos</a></li>
					<li><a href="contact.php">Nous Contacter</a></li>

					{% elseif lang == 'en' %}
					<li><a href="home.php"><i class="bi bi-house-door-fill"></i></a></li>
					<li><a href="bottles.php">Bottles</a></li>
					<li><a href="cans.php">Cans</a></li>
					<li><a href="recipes.php">Recipes</a></li>
					<li><a href="about.php">About</a></li>
					<li><a href="contactus.php">Contact Us</a></li>
					{% endif %}

					{% block addnav %}
					{% endblock addnav %}
				</ul>
			</nav>
		</header>


		<!-- Main -->
		<main role="main">
			{% block main %}
			{% endblock main %}
		</main>

		<!-- Bouton pour revenir en haut -->
		{% if lang == 'fr' %}
		<button class="ontop" onclick="window.location.href = '#top';">Retour en haut <i class="bi bi-arrow-up"></i></button>
		{% elseif lang == 'en' %}
		<button class="ontop" onclick="window.location.href = '#top';">Back to top <i class="bi bi-arrow-up"></i></button>
		{% endif %}

		<!-- Footer -->
		<footer role="contentinfo">
			{% block footer %}
			<div class="foot">
				<!-- Liens vers les pages en version française -->
				<div class="lien">
					<ul>
						<li><a href="index.php">Accueil</a></li>
						<li><a href="bouteilles.php">Bouteilles</a></li>
						<li><a href="canettes.php">Canettes</a></li>
						<li><a href="recettes.php">Recettes</a></li>
						<li><a href="apropos.php">À Propos</a></li>
						<li><a href="contact.php">Nous Contacter</a></li>
						<li><a href="merci.php">Merci</a></li>
					</ul>
				</div>		
				
				<!-- Liens vers les pages en version anglaise -->
				<div class="lien">
					<ul>
						<li><a href="home.php">Home</a></li>
						<li><a href="bottles.php">Bottles</a></li>
						<li><a href="cans.php">Cans</a></li>
						<li><a href="recipes.php">Recipes</a></li>
						<li><a href="about.php">About</a></li>
						<li><a href="contactus.php">Contact Us</a></li>
						<li><a href="thankyou.php">Thank You</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<p class="signature">FLORENCE Zoé ©</p>
			{% endblock footer %}
		</footer>
	</div>
</body>

</html>