{% extends "base.twig" %}




{% block main %}
<div class="test">
    <aside>
        {% block aside %}
        {% endblock aside %}
    </aside>


    <div class="contenu">
    {% block contenu %}
    {% endblock contenu %}
    </div>
</div>
{% endblock main %}